<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Parser.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdatesAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupChatLogAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableIntervalBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveTimestampsFromBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RemoveTimestampsFromFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterNames" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
        </Parser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Parser.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>2.6</value>
            </setting>
        </Parser.Properties.Settings>
    </applicationSettings>
</configuration>
